.outerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}
.icon {
  color: #b0bec5;
}
.textWrapper {
  max-width: 320px;
  text-align: center;
}
.text {
  color: #b0bec5;
}
