.wrapper {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  border: 0px solid rgba(0,0,0,0);
}

.fillWrapper {
  border: 0;
  background-color: #00ab97;
}

.borderWrapper {
  background-color: #FFFFFF;
  border: 2px solid #00ab97;
}

.icon {
  align-self: center;
}

.fillIcon {
  color: #FFFFFF;
}

.borderIcon {
  color: #00ab97;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
