.wrapper {
  flex-direction: column;
  width: 100%;
}

.inputWrapper {
  display: flex;
  min-height: 48px;
}

.input {
  align-self: flex-end;
  font-family: Montserrat;
  line-height: 20px;
  height: 30px;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(38,50,56,0.12);
  border-radius: 0;
  box-sizing: border-box;
  -webkit-transition: all 100ms ease-in-out; /* Safari */
  transition: all 100ms ease-in-out;
  outline: none;
  background-color: transparent;
}

.input:focus {
  border-bottom: 1px solid #00ab97;
}

.label::first-letter {
  text-transform: capitalize;
}

.label {
  line-height: 20px;
  font-weight: normal;
  color: #b0bec5;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 23px, 0) scale(1);;
  transform-origin: left top;
  transition: 200ms;
}

.labelWithInput {
  display: none;
}

.labelFocused {
  transform: translate3d(0, 0, 0) scale(0);
  font-size: 12px;
}

.error {
  border-color: #e0487b !important;
}

.errorMessage {
  padding-top: 0;
  opacity: 0;
  display: block;
  line-height: 20px;
  color: #e0487b;
  width: 100%;
  text-align: center;
  transition: all 0.25s;
}

.errorMessageActive {
  padding-top: 8px;
  opacity: 1;
}
