.wrapper {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #fff;
  cursor: pointer;
}

.wrapperYourTeam {
  border-left: 4px solid #00ab97;
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #fff;
}

.wrapperLeader {
  border-left: 4px solid #ffc107;
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #fff;
}

.teamRanking {
  width: 56px;
  text-align: center;
  color: #607d8b;
}

.borderStart {
  border-left: 4px solid #00ab97;
}

.yourTeamRanking {
  width: 36px;
  margin-right: 10px;
  margin-left: 6px;
}

.yourTeamRanking > span:first-child {
    color: #00ab97;
}

.leader {
  width: 36px;
  margin-right: 10px;
  margin-left: 6px;
}

.leader > span:first-child {
    color: #ffc107;
}

.teamName {
  line-height: 22px;
  width: 188px;
  margin-right: 16px;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconExpand {
  color: #b0bec5;
}

.iconExpandActive {
  color: #607d8b;
}

.labelSmallWrapperOne {
  width: 110px;
  margin-left: 16px;
}

.labelSmallWrapperTwo {
  width: 110px;
}

.labelSmall {
  color: #607d8b;
}

.labelSmall > span {
    color: #90a4ae;
}

.iconLargeWrapper {
    margin-left: 16px;
}

.level0 {
  color: #9de2e8;
}

.level1 {
  color: #6dccd5;
}

.level2 {
  color: #35b8c4;
}

.level3 {
  color: #00a6b6;
}

.labelStandardWrapper {
  width: 84px;
  text-align: center;
}

.labelStandard {
  width: 84px;
  text-align: center;
}

.labelStandard > span:first-child {
  color: #00ab97;
}

.typoTeam {
  margin-left: 5px;
}
