.wrapper {
  width: 56px;
  height: 56px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  color: #FFF !important;
  border-radius: 50%;
  background-color: #607D8B;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
