.menuWrapper {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.left {
    box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
    height: calc(100% - 48px);
    width: 300px;
    overflow-x: hidden;
    background-color: inherit;
    position: absolute;
    left: -310px;
    transition: 1s ease;
    z-index: 100;
}
.showleft {
    box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
    height: calc(100% - 48px);
    width: 300px;
    overflow-x: hidden;
    background-color: inherit;
    position: absolute;
    left: 0px;
    transition:  1s ease;
    z-index: 100;
}

.right {
    box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
    height: calc(100% - 48px);
    width: 300px;
    background: #FFFFFF;
    position: fixed;
    right: -310px;
    transition: 1s ease;
    overflow-x: hidden;
    z-index: 100;
}
.showright {
    box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
    height: calc(100% - 48px);
    width: 300px;
    background: #FFFFFF;
    position: absolute;
    right: 0px;
    transition: 1s ease;
    overflow-x: hidden;
    z-index: 100;
}
