.wrapper {
  position: relative;
  border: 1px solid #333;
  display: inline-block;
  border-radius: 3px;
  min-width: 200px;
  min-height: 75px;
  vertical-align: top;
  margin: 10px;
}

.title {
  background-color: #333;
  padding: 5px;
  color: #EAEAEA;
  text-transform: capitalize;
  font-family: Arial;
  font-size: 14px;
}

.content {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
