.wrapper {
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wrapper:hover {
    background-color: #ECEFF1;
}

.button {
    flex: none;
    font-size: 20px;
}

.text {
    margin-left: 16px;
    flex: auto;
    ellipsis: true;
}
