.metaWrapper {
  display: flex;
  justify-content: flex-start;
}

.wrapper_wide {
  height: 34px;
}

.wrapper_standard {
  height: 30px;
}

.progressBar {
  width: 100%;
}

.goalLabel > span:first-child {
  color: #FFC107;
}

.goalLabel > span > span {
  color: #263238;
  font-weight: bold;
}

.labelCurrent {
  margin-right: 6px;
  font-weight: bold;
  color: #00AB97;
}

.labelCurrent > span > span {
  color: #263238;
}

.caption {
  color: #607D8B;
}

.goalMarkerStandard {
  height: 4px;
  top: -4px;
}

.goalMarkerWide {
  height: 12px;
  top: -12px;
}

.progressWrapper {
  position: absolute;
  width: 100%;
}

.goalMarkerWrapper {
  position: absolute;
  width: 100%;
  margin-left: -50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
}

.goalMarker {
  border: 1px solid #263238;
  position: absolute;
  left: 50%;
}
