.typoTitle {
  line-height: 24px;
  color: #90a4ae;
  flex-grow: 1;
}

.typoContent {
  padding-left: 16px;
  float: right;
}

.expandedContent {
  background-color: #f4f7f9;
  display: flex;
  justify-content: space-between;
}

.popup {
  margin-left: 430px;
  margin-top: 25px;
}
