.wrapper div {
  max-width: 304px;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid rgba(38,50,56,0.12);
  height: 48px;
}

.button {
  margin-right: 8px;
}
