.wrapper {

}

.caption1Normal {
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  color: #607D8B;
}

.caption1Strong {
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  color: #263238;
}

.caption2Normal {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #607D8B;
}

.caption2Strong {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #263238;
}

.bodyTextNormal {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #263238;
}
