.wrapper {
    background-color: transparent;
}

.standard {
    height: 8px;
}

.double {
    height: 16px;
}

.fat {
  height: 80px;
}

.hr1 {
    padding: 7.5px 0 7.5px 0;
}

.hr2 {
    padding: 7.5px 16px 7.5px 68px;
}

.hr3 {
  padding: 15.5px 0 15.5px 0;
}

.hr {
    border-bottom: 1px solid rgba(38,50,56,0.12);
}
