.wrapper {
  background-color: #f4f7f9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.outer_wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 36px;
  height: 36px;
  background-color: transparent;
  position: relative;
}

.hide {
  opacity: 0 !important;
  visibility: hidden !important;
}

.iconName {
  background: #ccc;
      }

.iconWrapper {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -10px;
  margin-top: -10px;
  color:#90a4ae;
  }

.text {
  margin: 12px auto 0;
  text-align: center;
  max-width:288px;
  font-size:14px;
  line-height:20px;
  font-weight:normal;
  color:#90a4ae;
}

.loader {
  box-sizing: border-box;
top:0;
left:0;
border-top: 2px solid rgba(38, 50, 56, 0.1);
border-right: 2px solid rgba(38, 50, 56, 0.1);
border-bottom: 2px solid rgba(38, 50, 56, 0.1);
border-left: 2px solid #b0bec5;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation: load8 1.1s infinite linear;
animation: load8 1.1s infinite linear;

}

.loader,
.loader:after {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
