.outerWrapper {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
}

.comparisonAvatarWrapper {
  margin-left: 120px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.ownAvatarWrapper {
  margin-left: 8px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
