.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
}

.nameDarkBackground {
    text-overflow: ellipsis;
    line-height: 22px;
    color: #fff;
}

.nameLightBackground {
  color: #263238;
  text-overflow: ellipsis;
  line-height: 22px;
}

.statsWrapper {
  flex-direction: row;
}

.membersDarkBackground {
  color: rgba(255,255,255,0.7);
  padding-right: 8px;
}

.membersLightBackground {
  color: #607d8b;
  padding-right: 8px;
}

.labelDarkBackground {
  color: rgba(255,255,255,0.4);
}

.labelLightBackground {
  color: #90a4ae;
}
