.wrapper {
  display: flex;
  flex-direction: row;
  height: 12px;
  width: 320px;
}

.categoryWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 152px;
  margin-right: 16px;
}
