.wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.textWrapper {
  width: 100%;
  overflow: hidden;
}

.name {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.timeStamp {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin-right: 16px;
}

.nameDateWrapper {
  display: flex;
}
