.wrapper {
  background-color: transparent;
  display: flex;
  border-bottom: 1px solid rgba(38,50,56,0.12);
  cursor: pointer;
}

.wrapper:hover {
  background-color: #f4f7f9;
}

.noValue {
  padding-left: 16px;
  color: #ff9800;
  float: right;
}

.noValueInactive {
  padding-left: 16px;
  color: #90a4ae;
  float: right;
}

.wrapperExpanded {
  background-color: #f4f7f9;
  display: flex;
  border-bottom: none;
  cursor: default;
}

.composite {
  width: 100%;
  display: flex;
  align-items: center;
}

.compositeExpanded {
  display: inline-flex;
  width: 100%;
}

.typoTitle {
  line-height: 24px;
  flex-grow: 1;
}

.typoTitleInactive {
  line-height: 24px;
  color: #90a4ae;
}

.typoContent {
  padding-left: 16px;
  color: #00ab97;
  float: right;
}

.typoContentInactive {
  padding-left: 16px;
  color: #90a4ae;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  width: 100%;
  text-align: right;
}

.saveButton {
  margin: -6px 0;
  padding-left: 16px;
  cursor: pointer;
}

.closeButton {
  margin: -10px -6px -6px 0;
  cursor: pointer;
  align-self: center;
}

.closeButton > span {
  color: #607d8b;
}

.expandedContent {
  background-color: #f4f7f9;
  display: flex;
}
