.wrapper {
  height: 36px;
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  overflow: hidden;
  width: 100%;
  align-self: center;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.labelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
