.wrapper {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.caption1Normal {
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  color: #607D8B;
}

.caption1Strong {
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  color: #263238;
}

.caption2Normal {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #607D8B;
}

.caption2Strong {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #263238;
}

.bodyTextNormal {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #263238;
}

.bodyTextStrong {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #263238;
}

.bodyTextTitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #263238;
}

.ingressNormal {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #263238;
}

.ingressStrong {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #263238;
}

.ingressTitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #263238;
}

.header1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #263238;
}

.display1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #263238;
}

.display2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  color: #263238;
}

.display3 {
  font-size: 56px;
  line-height: 72px;
  font-weight: bold;
  color: #263238;
}

.button {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: #00AB97;
}
