.wrapper {
    display: inline-block flex;
    text-align: center;
    height: 38px;
    flex-grow: 1;
}

.number {
  text-align: center;
  display: block;
}

.darknumber {
  color: #FFF;
}

.textcontent {
  text-align: center;
  color: #90A4AE;
  display: block;
}

.darktextcontent {
  color: #B0BEC5;
}
