.svgCanvas {
    height: 300px;
}

.svg {
  background-color: #003741;
}

.line {
    fill: none;
}

.yAxis > path {
}

.yAxis > g > text {
    text-anchor: end;
    display:none;
}

.xAxis > .tick{
    display: none;
}

.xAxis > path {
    display: none;
}

.yAxis > g > line {
  stroke: #fff;
  stroke-width: 1px;
  stroke-opacity: 0.12;
}

.xAxis, .yAxis > g > text {
    fill: #607D8B;
    font-family: Montserrat, Arial;
    font-size: 10px;
}

.bars {

}

.startEndDates {
    fill: #263238;
    font-weight: bold;
}

.areas {
    fill: rgba(139, 195, 74, 0.2);
}

.dots {

}

.lines {}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.pointSeries > circle:not(first-child):not(last-child) {
    fill: none;
    stroke: none;
}

.pointSeries > circle:first-child {
    fill: white;
    stroke: inherit;
    stroke-width: 2px;
}

.pointSeries > circle:last-child {
    fill: inherit;
    stroke: inherit;
    stroke-width: 2px;
}

.chart {
    height: 100%;
}

.faceGroup {}

.faceActive0 {
  fill: #008996;
}

.faceActive1 {
  fill: #0099a9;
}

.faceActive2 {
  fill: #35b8c4;
}

.faceActive3 {
  fill: #9de2e8;
}

.faceInactive {
  fill: #035d67;
}
