.typo {
    color: #607D8B;
}

.child {
    margin-right: 16px;
}

.icon {
    float: left;
    margin-right: 12px;
}

.timeStamp {
    float: left;
}

.item {
    cursor: pointer;
}

.true {
    background-color: transparent;
    width: 100%;
}

.false {
    background-color: #FFFFFF;
    width: 100%;
}
