.itemWrapper {
    background-color: #F4F7F9;
    height: auto;
    overflow-y: auto;
}

.wrapper {
    padding-top: 56px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.icon {
    color: #B0BEC5;
}
.text {
    color: #B0BEC5;
}
