.wrapper {
  background-color: rgba(96, 125, 139, 0.12);
  width: 100%;
  overflow: hidden;
}

.progress {
  background-color: #00AB97;
  width: 0;
}

.standard {
  height: 4px;
  border-radius: 4px;
}

.wide {
  height: 12px;
  border-radius: 2px;
  background-color: rgba(38,50,56,0.12);
}
.inactive {
  background-color: rgba(96, 125, 139, 0.04);
}

.goalMarker {
  border: 1px solid #263238;
  position: absolute;
  /*right: 37px;*/
}

.goalMarkerStandard {
  height: 4px;
}

.goalMarkerWide {
  height: 12px;
}
