.wrapper {
  background-color: rgba(96, 125, 139, 0.12);
  width: 100%;
  position: relative;
}

.progressWrapper {
  width: 100%;
  overflow: hidden;
}

.progress {
  background-color: #00AB97;
  width: 0;
}

.standard {
  height: 4px;
  border-radius: 4px;
}

.wide {
  height: 12px;
  border-radius: 2px;
  background-color: rgba(38,50,56,0.12);
}
.inactive {
  background-color: rgba(96, 125, 139, 0.04);
}
