.outerWrapper {
  width:100%;
  border-bottom: 1px solid rgba(38,50,56,0.12);
}
.wrapper, .wrapperExpanded {
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.wrapperExpanded {
  border-bottom: none;
}

.wrapper:hover {
  background-color: #f4f7f9;
}
.unitsText {
  margin-left: 4px;
}
.typoQuestion {
  line-height: 24px;
  flex: 1;
  padding-right: 10px;
  max-width: 75%;
}

.typoAnswer, .typoAnswerInactive {
  max-width: 110px;
  width: auto;
  text-align: right;
}

.typoAnswer {
  color: #00ab97;
}

.typoContent {
  padding-left: 14px;
  color: #00ab97;
  float: right;
}

.typoContentInactive {
  padding-left: 14px;
  color: #90a4ae;
  float: right;
}

.typoContent, .typoAnswerInactive {
  max-width: 40%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.typoAnswerInactive {
  color: #90a4ae;
}

.icon {
  margin-right: 15px;
  cursor: pointer;
}

.spacerBottom {
  border-bottom: 1px solid rgba(38,50,56,0.12);
}

.noValue {
  padding-left: 16px;
  color: #ff9800;
  float: right;
}

.noValueInactive {
  padding-left: 16px;
  color: #90a4ae;
  float: right;
}
