.wrapper {
    display: flex;
}

.icon {
    height: 24px;
    width: 24px;
    flex:none;
}

.text {
    line-height: 20px;
    margin: 2px 0 2px 16px;
    text-overflow: ellipsis;
    flex: auto;
}

.textDarkTheme {
  color: #fff;
}


.pointsIcon {
    color: #8BC34A;
}

.co2Icon {
    color: #00AB97;
}
