.link {
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      color: #263238;
      width: 100%;
      background-color: transparent;
      border: none;
}

.wrapper {
    background-color: transparent;
    z-index: 100;
}

.inputWrapper {
  width: 100%;
}

div > i {
    display: none;
}
