.wrapper {
    display: flex;
    align-items: center;
}

.text {
    flex-grow: 1;
}

.button {
    margin-left: 16px;
    background-color: #00AB97;
}

.label {
    margin-left: 16px;
}

.label > span {
    color: #263238;
}

.noAccessTextWrapper {
  text-align: right;
}

.noAccessText {
  align-self: flex-end;
}

.noAccessTextNotification {
  color: #00AB97;
  align-self: flex-end;
}

.noAccessTextNotification:hover {
  cursor: pointer;
}
