.wrapper {

}
.innerWrapper {
    display: block;
}

.button {
    background-color: transparent;
    outline: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(38,50,56,0.12);
}

.buttonSelected {
    background-color: transparent;
    outline: none;
    border-radius: 0;
    border-bottom: 2px solid #607D8B;
}
