.button {
    height: 36px;
    min-width: 80px;
    padding: 0 16px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.flat {
    composes: button;
}

.flat:disabled {
    opacity: 0.5;
    cursor: auto;
}

.flat:disabled > span {
    color: #607D8B !important;
}

.text {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: #00AB97;
}

.darkText{
    color: white;
    background-color: transparent;
}
