.button {
    height: 36px;
    min-width: 80px;
    padding: 0 16px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    background: transparnet;
}

.flat {
    composes: button;
}

.flat:disabled {
    opacity: 0.5;
}

.raised {
    composes: button;
    background-color: #607D8B;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12);
}

.raisedDark:disabled {
    box-shadow: none;
    opacity: 0.5;
}

.raised:disabled {
    background-color: #CFD8DC;
    box-shadow: none;
    color: #607D8B;
    opacity: 0.5;
}

.raised > span {
    color: #FFFFFF !important;
}
