.wrapper {
    display: flex;
    background-color: #F4F7F9;
}

.icon {
    margin: -12px -12px -12px 0;
    flex:none;
}

.textArea {
    margin: 0 16px 4px 0;
    flex:auto;
    resize: none;
    border: none;
    background-color: #F4F7F9;
    elastic: true;
}