.wrapper {
  background-color: transparent;
  display: flex;
  border-bottom: 1px solid rgba(38,50,56,0.12);
  cursor: pointer;
}

.wrapper:hover {
  background-color: #f4f7f9;
}

.inactiveWrapper {
  background-color: transparent;
}

.inactiveWrapper:hover {
  background-color: transparent;
  cursor: default;
}

.composite {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.typoTitle {
  line-height: 24px;
  flex-grow: 1;
}

.typoTitleInactive {
  line-height: 24px;
  flex-grow: 1;
  color: #90a4ae;
}

.typoContent {
  padding-left: 16px;
  color: #00ab97;
  white-space: nowrap;
  overflow: hidden;
}

.typoContentInactive {
  padding-left: 16px;
  color: #90a4ae;
  white-space: nowrap;
  overflow: hidden;
}
