.wrapper {
  display: flex;
}

.contentWrapper {
  width: 100%;
}

.title {
  min-height: 20px;
  margin-bottom: 4px;
}

.rightIconWrapper {
  margin: -12px -12px -12px 16px;
}

.leftIconWrapper {
  margin: -12px 16px -12px -12px;
}

.children {
  margin-top: 4px;
  min-height: 14px;
}
