.progressBarVertical {
  flex-grow: 1;
  max-width: 12px;
  height: 100%;
  border-radius: 2px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin: 0 2px;
  padding: 0;
  transition: all 0.1s ease;
  background-color: rgba(38, 50, 56, 0.04);
}

.progressBarVerticalWithHover {
  composes: progressBarVertical;
  cursor: pointer;
}

.progressBarVerticalWithHover:hover {
  margin: 0;
  padding: 0 2px;
}

.inactiveWrapper {
  background-color: rgba(38,50,56,0.06);
}

.progress {
  position: absolute;
  bottom: 0;
  margin: 0;
  left:0;
  width: 100%;
  height: 4px;
  background-color: #b0bec5;
}
