.wrapper {
  width: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.progressBarVertical {
  height: 100%;
  border-radius: 2px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin: 0 2px;
  padding: 0;
  transition: all 0.1s ease;
  background-color: rgba(38, 50, 56, 0.04);
  box-sizing: content-box;
  -webkit-transform: translate3d(0,0,0);
}

.progressBarVerticalWithHover {
  composes: progressBarVertical;
  cursor: pointer;
}

.progressBarVerticalWithHover:hover {
  margin: 0;
  padding: 0 2px;
}

.inactiveWrapper {
  height: 4px;
}

.inactive {
  background-color: rgba(38,50,56,0.06) !important;
}

.progress {
  box-sizing: content-box;
  width: 24px;
  margin: 0 -2px;
  min-height: 4px;
  bottom: 0;
  position: absolute;
  background-color: #b0bec5;
}
