.wrapper {
    height: 56px;
    border-bottom: 1px solid rgba(38,50,56,0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;


    border-bottom: 1px solid #555;
    box-sizing: border-box;
    color: #b0b0b0;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 10px 15px;
    width: 100%;
}
