.wrapper {
    background-color: transparent;
    height: 56px;
    border-bottom: 1px solid rgba(38,50,56,0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
