.wrapper {
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  z-index: 99999;
}

.modal {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 999999;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}

.content {
  flex: 1;
  overflow-x: hidden;
}

.contentWithPadding {
  composes: content;
  padding-bottom: 48px;
}

.stickyFooter {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
