
.textOnePart {
    color: #263238;
    display: block;
    margin-bottom:4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textOneNotPart {
    color: #607d8b;
    display: block;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textTwo {
    color: #607d8b;
    font-weight: bold;
    height:28px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
