.wrapper {
  width: 100%;
  background-color: #eceff1;
  display: flex;
  align-items: center;
}

.icon {
  color: #607d8b;
  margin-left: 2px;
}

.name {
  color: #607d8b;
  margin-left: 66px;
}

.saving {
  color: #607d8b;
  margin-left: auto;
}
