/*
Document Name: Ducky - Base style
Description: Font, color & opacity specs for Ducky elements.
Tagline: Feel dat base
*/


/* Rounded corner
----------------------------------------------- */
.RoundedCorner {	
	-webkit-border-radius:4px; 
	-moz-border-radius:4px;
	border-radius:4px; 
}


/* Typography - Font-family: Montserrat
----------------------------------------------- */

.Display_3 { font-size:56px; line-height:72px; font-weight:bold; color:#263238; }
.Display_2 { font-size:48px; line-height:56px; font-weight:bold; color:#263238; }
.Display_1 { font-size:32px; line-height:40px; font-weight:bold; color:#263238; }

.Header_1 { font-size:24px; line-height:28px; color:#263238; }

.Ingress_Titles { font-size:18px; line-height:20px; font-weight:bold; color:#263238; }
.Ingress_Strong { font-size:18px; line-height:24px; font-weight:bold; color:#263238; }
.Ingress_Normal { font-size:18px; line-height:24px; color:#263238; }

.BodyText_Titles { font-size:14px; line-height:16px; font-weight:bold; color:#263238; }
.BodyText_Strong { font-size:14px; line-height:20px; font-weight:bold; color:#263238; }
.BodyText_Normal { font-size:14px; line-height:20px; color:#263238; }

.Caption_2_Normal { font-size:12px; line-height:14px; color:#607D8B; }
.Caption_2_Strong { font-size:12px; line-height:14px; font-weight:bold; color:#263238; }
.Caption_1_Normal { font-size:10px; line-height:12px; color:#607D8B; }
.Caption_1_Strong { font-size:10px; line-height:12px; font-weight:bold; color:#263238; }

.ButtonText_1 { font-size:14px; text-transform:uppercase; color:#607D8B; }


/* Icons
----------------------------------------------- */

.Icon_MA_Display2 { font-size:96px; color:#607D8B; }
.Icon_MA_Display1 { font-size:72px; color:#607D8B; }
.Icon_MA_Large { font-size:36px; color:#607D8B; }
.Icon_MA_Standard { font-size:24px; color:#607D8B; }
.Icon_MA_Small { font-size:20px; color:#607D8B; }
.Icon_MA_Mini { font-size:16px; color:#607D8B; }
.Icon_MA_Micro { font-size:12px; color:#607D8B; }
.Icon_MA_Nano { font-size:10px; color:#607D8B; }

.Icon_FA_Display2 { font-size:84px; color:#607D8B; }
.Icon_FA_Display1 { font-size:63px; color:#607D8B; }
.Icon_FA_Large { font-size:31.5px; color:#607D8B; }
.Icon_FA_Standard { font-size:24px; color:#607D8B; }
.Icon_FA_Small { font-size:17.5px; color:#607D8B; }
.Icon_FA_Mini { font-size:14px; color:#607D8B; }
.Icon_FA_Micro { font-size:10.5px; color:#607D8B; }
.Icon_FA_Nano { font-size:8.75px; color:#607D8B; }


/* Opacity
----------------------------------------------- */

/* Primary, Secondary, Disabled/Hints */
.Opacity_1 { opacity: 1; filter: alpha(opacity=100); }
.Opacity_2 { opacity: 0.70; filter: alpha(opacity=70); }
.Opacity_3 { opacity: 0.40; filter: alpha(opacity=40); }

/* Dividers and borders */
.Opacity_4 { opacity: 0.12; filter: alpha(opacity=12); }


/* Palette
----------------------------------------------- */

.Black { color:#000000; }
.White { color:#FFFFFF; }

/* BlueGrey */
.BlueGrey_50 { color:#ECEFF1; }
.BlueGrey_100 { color:#CFD8DC; }
.BlueGrey_200 { color:#B0BEC5; }
.BlueGrey_300 { color:#90A4AE; }
.BlueGrey_400 { color:#78909C; }
.BlueGrey_500 { color:#607D8B; }
.BlueGrey_600 { color:#546E7A; }
.BlueGrey_700 { color:#455A64; }
.BlueGrey_800 { color:#37474F; }
.BlueGrey_900 { color:#263238; }

