@font-face {
    font-family: 'Duckycon-Font';
    src: url('./Duckycon-Font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Duckycon-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="duckycon-"], [class*=" duckycon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Duckycon-Font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.duckycon-duckylogo {composes: font;}
.duckycon-duckylogo:before {
    content: "\e92e";
}
.duckycon-leaderboard:before {composes: font;}
.duckycon-leaderboard:before {
    content: "\e92c";
}
.duckycon-hashtag {composes: font;}
.duckycon-hashtag:before {
    content: "\e92d";
}
.duckycon-dots-vertical {composes: font;}
.duckycon-dots-vertical:before {
    content: "\e92b";
}
.duckycon-cheese {composes: font;}
.duckycon-cheese:before {
    content: "\e900";
}
.duckycon-facebook {composes: font;} .duckycon-facebook:before {
    content: "\e926";
}
.duckycon-google-plus:before {
    content: "\e927";
}
.duckycon-instagram:before {
    content: "\e929";
}
.duckycon-twitter:before {
    content: "\e92a";
}
.duckycon-barley:before {
    content: "\e901";
}
.duckycon-carrot:before {
    content: "\e902";
}
.duckycon-cow:before {
    content: "\e903";
}
.duckycon-crown:before {
    content: "\e904";
}
.duckycon-cup-water:before {
    content: "\e905";
}
.duckycon-duck:before {
    content: "\e906";
}
.duckycon-fish:before {
    content: "\e907";
}
.duckycon-food:before {
    content: "\e908";
}
.duckycon-food-apple:before {
    content: "\e909";
}
.duckycon-food-fork-drink:before {
    content: "\e90a";
}
.duckycon-food-off:before {
    content: "\e90b";
}
.duckycon-food-variant:before {
    content: "\e90c";
}
.duckycon-gnome:before {
    content: "\e90d";
}
.duckycon-highway:before {
    content: "\e90e";
}
.duckycon-key-variant:before {
    content: "\e90f";
}
.duckycon-leaf:before {
    content: "\e910";
}
.duckycon-motorbike:before {
    content: "\e911";
}
.duckycon-pig:before {
    content: "\e912";
}
.duckycon-trophy:before {
    content: "\e913";
}
.duckycon-trophy-award:before {
    content: "\e914";
}
.duckycon-trophy-outline:before {
    content: "\e915";
}
.duckycon-water:before {
    content: "\e916";
}
.duckycon-water-off:before {
    content: "\e917";
}
.duckycon-water-pump:before {
    content: "\e918";
}
.duckycon-wunderlist:before {
    content: "\e919";
}
.duckycon-account-alert:before {
    content: "\e91a";
}
.duckycon-account-check:before {
    content: "\e91b";
}
.duckycon-account-minus:before {
    content: "\e91c";
}
.duckycon-account-off:before {
    content: "\e91d";
}
.duckycon-account-remove:before {
    content: "\e91e";
}
.duckycon-account-search:before {
    content: "\e91f";
}
.duckycon-account-star:before {
    content: "\e920";
}
.duckycon-account-switch:before {
    content: "\e921";
}
.duckycon-menu:before {
    content: "\e5d2";
}
.duckycon-search:before {
    content: "\e8b6";
}
.duckycon-notifications_none:before {
    content: "\e7f5";
}
.duckycon-account_circle:before {
    content: "\e853";
}
.duckycon-home:before {
    content: "\e88a";
}
.duckycon-restaurant_menu:before {
    content: "\e561";
}
.duckycon-shopping_cart:before {
    content: "\e8cc";
}
.duckycon-flash_on:before {
    content: "\e3e7";
}
.duckycon-tag_faces:before {
    content: "\e420";
}
.duckycon-textsms:before {
    content: "\e0d8";
}
.duckycon-build:before {
    content: "\e869";
}
.duckycon-settings:before {
    content: "\e8b8";
}
.duckycon-tune:before {
    content: "\e429";
}
.duckycon-settings_applications:before {
    content: "\e8b9";
}
.duckycon-power_settings_new:before {
    content: "\e8ac";
}
.duckycon-schedule:before {
    content: "\e8b5";
}
.duckycon-public:before {
    content: "\e80b";
}
.duckycon-language:before {
    content: "\e894";
}
.duckycon-lock:before {
    content: "\e897";
}
.duckycon-directions_walk:before {
    content: "\e536";
}
.duckycon-directions_bike:before {
    content: "\e52f";
}
.duckycon-motorcycle:before {
    content: "\e922";
}
.duckycon-directions_bus:before {
    content: "\e530";
}
.duckycon-tram:before {
    content: "\e571";
}
.duckycon-train:before {
    content: "\e570";
}
.duckycon-vpn_key:before {
    content: "\e0da";
}
.duckycon-local_taxi:before {
    content: "\e559";
}
.duckycon-directions_car:before {
    content: "\e531";
}
.duckycon-local_shipping:before {
    content: "\e558";
}
.duckycon-directions_boat:before {
    content: "\e532";
}
.duckycon-directions_railway:before {
    content: "\e534";
}
.duckycon-flight:before {
    content: "\e539";
}
.duckycon-airplanemode_inactive:before {
    content: "\e194";
}
.duckycon-desktop_mac:before {
    content: "\e30b";
}
.duckycon-remove_shopping_cart:before {
    content: "\e928";
}
.duckycon-arrow_upward:before {
    content: "\e5d8";
}
.duckycon-arrow_forward:before {
    content: "\e5c8";
}
.duckycon-arrow_downward:before {
    content: "\e5db";
}
.duckycon-arrow_back:before {
    content: "\e5c4";
}
.duckycon-arrow_drop_down:before {
    content: "\e5c5";
}
.duckycon-arrow_drop_up:before {
    content: "\e5c7";
}
.duckycon-navigate_before:before {
    content: "\e408";
}
.duckycon-expand_less:before {
    content: "\e5ce";
}
.duckycon-navigate_next:before {
    content: "\e409";
}
.duckycon-expand_more:before {
    content: "\e5cf";
}
.duckycon-info_outline:before {
    content: "\e88f";
}
.duckycon-info:before {
    content: "\e88e";
}
.duckycon-mode_edit:before {
    content: "\e254";
}
.duckycon-photo_camera:before {
    content: "\e412";
}
.duckycon-remove:before {
    content: "\e15b";
}
.duckycon-add:before {
    content: "\e145";
}
.duckycon-close:before {
    content: "\e5cd";
}
.duckycon-check:before {
    content: "\e5ca";
}
.duckycon-done_all:before {
    content: "\e877";
}
.duckycon-star_border:before {
    content: "\e83a";
}
.duckycon-star:before {
    content: "\e838";
}
.duckycon-star_half:before {
    content: "\e839";
}
.duckycon-stars:before {
    content: "\e8d0";
}
.duckycon-alarm:before {
    content: "\e855";
}
.duckycon-alarm_add:before {
    content: "\e856";
}
.duckycon-alarm_on:before {
    content: "\e858";
}
.duckycon-alarm_off:before {
    content: "\e857";
}
.duckycon-check_box_outline_blank:before {
    content: "\e835";
}
.duckycon-check_box:before {
    content: "\e834";
}
.duckycon-radio_button_unchecked:before {
    content: "\e836";
}
.duckycon-radio_button_checked:before {
    content: "\e837";
}
.duckycon-lens:before {
    content: "\e3fa";
}
.duckycon-check_circle:before {
    content: "\e86c";
}
.duckycon-cancel:before {
    content: "\e5c9";
}
.duckycon-favorite_border:before {
    content: "\e87e";
}
.duckycon-favorite:before {
    content: "\e87d";
}
.duckycon-chat_bubble_outline:before {
    content: "\e0cb";
}
.duckycon-chat_bubble:before {
    content: "\e0ca";
}
.duckycon-turned_in_not:before {
    content: "\e8e7";
}
.duckycon-turned_in:before {
    content: "\e8e6";
}
.duckycon-share:before {
    content: "\e80d";
}
.duckycon-send:before {
    content: "\e163";
}
.duckycon-markunread:before {
    content: "\e159";
}
.duckycon-work:before {
    content: "\e8f9";
}
.duckycon-school:before {
    content: "\e80c";
}
.duckycon-room:before {
    content: "\e8b4";
}
.duckycon-today:before {
    content: "\e8df";
}
.duckycon-event_busy:before {
    content: "\e615";
}
.duckycon-person:before {
    content: "\e7fd";
}
.duckycon-person_add:before {
    content: "\e7fe";
}
.duckycon-people:before {
    content: "\e7fb";
}
.duckycon-swap_calls:before {
    content: "\e0d7";
}
.duckycon-replay:before {
    content: "\e042";
}
.duckycon-pan_tool:before {
    content: "\e925";
}
.duckycon-pets:before {
    content: "\e923";
}
.duckycon-sentiment_very_satisfied:before {
    content: "\e815";
}
.duckycon-sentiment_satisfied:before {
    content: "\e813";
}
.duckycon-sentiment_neutral:before {
    content: "\e812";
}
.duckycon-sentiment_dissatisfied:before {
    content: "\e811";
}
.duckycon-mood_bad:before {
    content: "\e7f3";
}
.duckycon-cloud_queue:before {
    content: "\e2c2";
}
.duckycon-filter_drama:before {
    content: "\e3dd";
}
.duckycon-cloud_off:before {
    content: "\e2c1";
}
.duckycon-wb_cloudy:before {
    content: "\e42d";
}
.duckycon-cloud_done:before {
    content: "\e2bf";
}
.duckycon-crop_original:before {
    content: "\e3c4";
}
.duckycon-photo:before {
    content: "\e410";
}
.duckycon-brightness_high:before {
    content: "\e1ac";
}
.duckycon-local_drink:before {
    content: "\e544";
}
.duckycon-restaurant:before {
    content: "\e56c";
}
.duckycon-equalizer:before {
    content: "\e01d";
}
.duckycon-bubble_chart:before {
    content: "\e6dd";
}
.duckycon-data_usage:before {
    content: "\e1af";
}
.duckycon-sort:before {
    content: "\e164";
}
.duckycon-show_chart:before {
    content: "\e6e1";
}
.duckycon-timeline:before {
    content: "\e924";
}
.duckycon-trending_down:before {
    content: "\e8e3";
}
.duckycon-trending_up:before {
    content: "\e8e5";
}
.duckycon-link:before {
    content: "\e157";
}
.duckycon-border_color:before {
    content: "\e22b";
}
.duckycon-thumb_down:before {
    content: "\e8db";
}
.duckycon-thumb_up:before {
    content: "\e8dc";
}
.duckycon-thumbs_up_down:before {
    content: "\e8dd";
}
.duckycon-local_offer:before {
    content: "\e54e";
}
.duckycon-swap_horiz:before {
    content: "\e8d4";
}
