.wrapper {
  border-top: 1px solid rgba(38,50,56,0.12);
  height: 48px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.button {
  margin-right: 8px;
}
