.modal {
  background-color: #fff;

}
.closeIconWrapper {
  display:flex;
  justify-content: flex-end;
}
.closeIcon {
  cursor: pointer;
  color: #607D8B;
}
.closeIcon:hover {
  cursor: pointer;
  color: #263238;
}

.leafIcon {
  color: #00ab97;
  padding-bottom: 32px;
}

.topSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

.topSectionHeading {
  width: 100%;
  max-width: 368px;
  padding-bottom: 16px;
}

.topSectionContent {
  width: 100%;
  max-width: 368px;
  padding-bottom: 16px;
}

.bottomSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f7f9;
  text-align: center;
}

.bottomSectionImage {
  padding: 16px 0;
}

.bottomSectionHeading {
  width: 100%;
  max-width: 368px;
  padding-bottom: 16px;
}

.bottomSectionContent {
  width: 100%;
  max-width: 368px;
  padding-bottom: 16px;
}

.sectionFooter {
  background-color: #fff;
}
