.wrapper {
  color: #FFFFFF !important;
  border-radius: 50%;
  background-color: #00AB97;
  cursor: pointer;
  border: 0px solid rgba(0,0,0,0);
  padding: 0;
}

.main {
  box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
  width: 56px;
  height: 56px;
}

.standard {
  width: 36px;
  height: 36px;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  /*color: #fff;*/
}
