.item {
    border: none;
    border-radius: 50%;
}

.small {
    width: 24px;
    height: 24px;
}

.standard {
    width: 36px;
    height: 36px;
}

.large {
    width: 48px;
    height: 48px;
}

.display1 {
    width: 72px;
    height: 72px;
}

.display2 {
    width: 96px;
    height: 96px;
}
