.wrapper {
  width: 288px;
  height: 36px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.eachElement {
    margin-left: 1px;
}

.eachElement:hover {
  background-color: rgba(38,50,56,0.04);
}
