.outerWrapper {
  background-color:transparent;
  }
.popoverWrapper{
display: flex;
justify-content: center;
}
.monthPopover{
  margin: 0 24px;
  flex-grow: 1;
}
.div{
background-color: #transparent;

}
