.wrapper {
    align-items: center;
    text-align:center;
    position: relative;
    display: block;
    overflow: hidden;
}

.participant {
    color: #90A4AE;
}

.challengeName {
    color: #263238;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.challengeDescription {
    color: #607D8B;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
