.wrapper {
    display: flex;
    background: transparent;
    align-items: center;
}

.icon {
    cursor: pointer;
}

.compositeWrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  flex:1;
}

.buttonIcon {
  cursor: pointer;
  background-color: transparent;
}

.buttonIcon:hover > span {
  background-color: transparent;
  color: #00AB97;
}

.buttonIcon > span {
  cursor: pointer;
  color: #90A4AE;;
}
