.wrapper {
  width: 250px;
  padding: 0 16px 16px 16px;
}

.url {
    padding: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: blue;
    white-space: nowrap;
}
