.wrapper {
  background-color: transparent;
  display: flex;
  border-bottom: 1px solid rgba(38,50,56,0.12);
  cursor: pointer;
}

.wrapperExpanded {
  background-color: #f4f7f9;
  display: flex;
  border-bottom: none;
  cursor: default;
}

.wrapper:hover {
  background-color: #f4f7f9;
}

.composite {
  width: 100%;
}

.compositeExpanded {
  display: inline-flex;
  width: 100%;
}

.typoTitle {
  line-height: 24px;
  flex-grow: 1;
}

.typoTitleInactive {
  line-height: 24px;
  flex-grow: 1;
  color: #90a4ae;
}

.typoContent {
  padding-left: 16px;
  color: #00ab97;
  float: right;
}

.typoContentInactive {
  padding-left: 16px;
  color: #90a4ae;
  float: right;
}

.saveButton {
  margin: -6px 0;
  padding-left: 16px;
  cursor: pointer;
}

.IconAvaWrapper {
  margin: -10px -6px -6px 0;
  cursor: pointer;
  align-self: center;
}

.IconAvaWrapper > span {
  color: #607d8b;
}

.radioButtons {
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
