.wrapper {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  justify-content: center;
}
.valueType {
  flex-grow: 1;
}
.value {

}
.valueMuted {
  color: #cfd8dc;
}
.minusButton {
  margin-left: 16px
}
.plusButton {
  margin-left: 8px
=======
}

.counterText {
  flex-grow: 1;
}

.minus {
  margin-left: 16px;
}

.plus {
  margin-left: 8px;
>>>>>>> master
}
