.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.labelText {
  flex-grow: 1;
}

.counterTextMuted {
  color: #cfd8dc;
}

.minus {
  margin-left: 16px;
}

.plus {
  margin-left: 8px;
}
