.wrapper {
    display: inline-flex;
    background-color: gray;
    /* temp bg color just for viewing purposes*/
    /*cursor: pointer; */
}

/*.wrapper:hover {
    background-color: #ECEFF1;
}
*/
.wrapper > div {
  display: table-row;
  //background-color: blue;
}
.actionButton {
  color:  white;
  background-color: white;
}
.icon > span {
  color: #000;
  background-color: white;
  /*background-clip: content-box; */
}
.icon > span:hover {
  color: #d2d2d2;
  /*background-attachment: #d2d2d2; */
}
.month  {
  color: #263238;
  font-weight:  normal;
  padding: 8px 0;
}
.year {
  color: #90a4ae;
  font-weight:  normal;
  padding: 8px 0;
}
.bc > span{
  color:#607d8b;
  background-color: transparent;

}
.bc > span:hover{
  color:#dadada;
  background-color: transparent;

}
