.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: gray;
     temp bg color just for viewing purposes*/
    /*cursor: pointer; */
}

/*.wrapper:hover {
    background-color: #ECEFF1;
}
*/
.wrapper > div {

  //background-color: blue;
}
.iconArrows > span {
  color: #607d8b;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}
.iconArrows > span:hover {
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  background-color: gray;
}
.icon > span {
  color: #607d8b;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;

}
.icon > span:hover {
  cursor: pointer;
  color: #d2d2d2;
  }
.iconWrapper > span {
  color:#607d8b;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;

}
.month  {
  color: #263238;
  font-weight:  normal;
  padding: 8px 0;
}
.month >  span:first-letter  {
  text-transform: capitalize;
}
.year {
  color: #90a4ae;
  font-weight:  normal;
  padding: 8px 0;
}
.bc span{
  color:#000;
  border-radius: 50%;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;


}
.bc > span:hover{
  color:#000;
  border-radius: 50%;
  background-color: gray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
