.wrapper{
    border: 2px solid #CFD8DC;
    border-radius: 100%;
    height: 36px;
    width: 36px;
    display: inline-block;
}

.wrapper > span {
    color: #607D8B;
    text-align: center;
    display: inline-block;
    margin: 5px 6px 6px 6px;
}

.checked{
    background-color: #00AB97;
    border-color: #00AB97;
}

.checked > span {
    color: #FFFFFF;
}

.inactive {
  border: 2px solid #eceff1;
  cursor: default;
}

.inactive > span {
  color: #cfd8dc;
}

.wrapper:hover{
    border: 2px solid #00AB97;
    background-color: white;
}

.wrapper:hover > span{
    color: #00AB97;
}

.checked:hover{
    border-color: #009483;;
    background-color: #009483;
}

.checked:hover > span{
    color: #FFFFFF;
}

.inactive:hover{
  border: 2px solid #eceff1;
  cursor: default;
}

.inactive:hover > span {
  color: #cfd8dc;
}
