.wrapper {
    height: 24px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.avatar {
    border: 2px solid #FFF;
    margin-top: -12px;
    margin-left: -10px;
}
