.outerWrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 500px;
}

.button {
  margin-right: 8px;
  float: left;
  background-color: #fff;
}

.hr2{
  margin-right:16px;
  margin-left:68px;
  width:auto;
}

.footer{
  position:relative;
  bottom:0;
  width:100%;
}
