.wrapper {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.participationText {
  text-align: center;
  margin-top: 50px;
}
.percentage {
  margin: 16px auto 32px;
}
