.grey1 {
  background-color: #6a8f97;
}
.grey2 {
  background-color: #8fadb4;
}
.grey3 {
  background-color: #bccfd1;
}
.grey4 {
  background-color: #d8e3e2;
}
.grey5 {
  background-color: #eef3f3;
}
.grey6 {
  background-color: #f7f9f9;
}

.main1 {
  background-color: #1e4a54;
}

.main2 {
  background-color: #00727b;
}

.secondary1 {
  background-color: #ad4f49;
}

.secondary2 {
  background-color: #e45c5e;
}

.secondary3 {
  background-color: #ed8c7a;
}

.strongBlue1 {
  background-color: #2e7498;
}
.strongBlue2 {
  background-color: #1aa9d0;
}
.strongBlue3 {
  background-color: #91d2e4;
}

.strongGreen1 {
  background-color: #366842;
}
.strongGreen2 {
  background-color: #3ea159;
}
.strongGreen3 {
  background-color: #8cb61d;
}

.strongYellow1 {
  background-color: #e87800;
}

.strongYellow2 {
  background-color: #efa016;
}

.strongYellow3 {
  background-color: #f4d100;
}

.strongRed1 {
  background-color: #7c223d;
}

.strongRed2 {
  background-color: #b30044;
}

.strongRed3 {
  background-color: #c61648;
}

.strongPurple1 {
  background-color: #3d1c5d;
}

.strongPurple2 {
  background-color: #682a6c;
}

.strongPurple3 {
  background-color: #8f257a;
}

.softBlue1 {
  background-color: #2c4e46;
}

.softBlue2 {
  background-color: #1c9283;
}

.softBlue3 {
  background-color: #12ad9c;
}

.softGreen1 {
  background-color: #557538;
}

.softGreen2 {
  background-color: #86ac5d;
}

.softGreen3 {
  background-color: #b3c589;
}

.softYellow1 {
  background-color: #be8952;
}

.softYellow2 {
  background-color: #efa859;
}

.softYellow3 {
  background-color: #f2c579;
}

.softRed1 {
  background-color: #930041;
}

.softRed2 {
  background-color: #c3487b;
}

.softRed3 {
  background-color: #dd7899;
}

.softPurple1 {
  background-color: #564677;
}

.softPurple2 {
  background-color: #9779a6;
}

.softPurple3 {
  background-color: #ab8eb8;
}
