@font-face {
    font-family: 'Duckycon-Font';
    src: url('./Duckycon-Font.woff?pr6vlq') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Duckycon-Font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global .icon-household:before {
  content: "\e94a";
}
:global .icon-team:before {
  content: "\e93c";
}
:global .icon-account-follower:before {
  content: "\e939";
}
:global .icon-account-following:before {
  content: "\e93a";
}
:global .icon-link_checked:before {
  content: "\e938";
}
:global .icon-duckylogo_beta:before {
  content: "\e936";
}
:global .icon-photo_camera_checked:before {
  content: "\e934";
}
:global .icon-cheese:before {
  content: "\e900";
}
:global .icon-dots-vertical:before {
  content: "\e901";
}
:global .icon-duckylogo:before {
  content: "\e902";
}
:global .icon-hashtag:before {
  content: "\e903";
}
:global .icon-leaderboard:before {
  content: "\e904";
}
:global .icon-flag-checkered:before {
  content: "\e937";
}
:global .icon-star-off:before {
  content: "\e935";
}
:global .icon-account-alert:before {
  content: "\e905";
}
:global .icon-account-check:before {
  content: "\e906";
}
:global .icon-account-minus:before {
  content: "\e907";
}
:global .icon-account-off:before {
  content: "\e908";
}
:global .icon-account-remove:before {
  content: "\e909";
}
:global .icon-account-search:before {
  content: "\e90a";
}
:global .icon-account-star:before {
  content: "\e90b";
}
:global .icon-account-switch:before {
  content: "\e90c";
}
:global .icon-barley:before {
  content: "\e90d";
}
:global .icon-carrot:before {
  content: "\e90e";
}
:global .icon-cow:before {
  content: "\e90f";
}
:global .icon-crown:before {
  content: "\e910";
}
:global .icon-cup-water:before {
  content: "\e911";
}
:global .icon-duck:before {
  content: "\e912";
}
:global .icon-facebook:before {
  content: "\e913";
}
:global .icon-fish:before {
  content: "\e914";
}
:global .icon-food:before {
  content: "\e915";
}
:global .icon-food-apple:before {
  content: "\e916";
}
:global .icon-food-fork-drink:before {
  content: "\e917";
}
:global .icon-food-off:before {
  content: "\e918";
}
:global .icon-food-variant:before {
  content: "\e919";
}
:global .icon-gnome:before {
  content: "\e91a";
}
:global .icon-google-plus:before {
  content: "\e91b";
}
:global .icon-highway:before {
  content: "\e91c";
}
:global .icon-instagram:before {
  content: "\e91d";
}
:global .icon-key-variant:before {
  content: "\e91e";
}
:global .icon-leaf:before {
  content: "\e91f";
}
:global .icon-motorbike:before {
  content: "\e920";
}
:global .icon-pig:before {
  content: "\e921";
}
:global .icon-trophy:before {
  content: "\e922";
}
:global .icon-trophy-award:before {
  content: "\e923";
}
:global .icon-trophy-outline:before {
  content: "\e924";
}
:global .icon-twitter:before {
  content: "\e925";
}
:global .icon-water:before {
  content: "\e926";
}
:global .icon-water-off:before {
  content: "\e927";
}
:global .icon-water-pump:before {
  content: "\e928";
}
:global .icon-wunderlist:before {
  content: "\e929";
}
:global .icon-menu:before {
  content: "\e5d2";
}
:global .icon-search:before {
  content: "\e8b6";
}
:global .icon-notifications_none:before {
  content: "\e7f5";
}
:global .icon-account_circle:before {
  content: "\e853";
}
:global .icon-home:before {
  content: "\e88a";
}
:global .icon-restaurant_menu:before {
  content: "\e561";
}
:global .icon-shopping_cart:before {
  content: "\e8cc";
}
:global .icon-flash_on:before {
  content: "\e3e7";
}
:global .icon-tag_faces:before {
  content: "\e420";
}
:global .icon-textsms:before {
  content: "\e0d8";
}
:global .icon-build:before {
  content: "\e869";
}
:global .icon-settings:before {
  content: "\e8b8";
}
:global .icon-settings_applications:before {
  content: "\e8b9";
}
:global .icon-tune:before {
  content: "\e429";
}
:global .icon-mode_edit:before {
  content: "\e254";
}
:global .icon-border_color:before {
  content: "\e22b";
}
:global .icon-power_settings_new:before {
  content: "\e8ac";
}
:global .icon-schedule:before {
  content: "\e8b5";
}
:global .icon-public:before {
  content: "\e80b";
}
:global .icon-language:before {
  content: "\e894";
}
:global .icon-lock:before {
  content: "\e897";
}
:global .icon-no_encryption:before {
  content: "\e641";
}
:global .icon-account_box:before {
  content: "\e851";
}
:global .icon-accessibility:before {
  content: "\e84e";
}
:global .icon-directions_walk:before {
  content: "\e536";
}
:global .icon-directions_run:before {
  content: "\e566";
}
:global .icon-directions_bike:before {
  content: "\e52f";
}
:global .icon-motorcycle:before {
  content: "\e92a";
}
:global .icon-local_taxi:before {
  content: "\e559";
}
:global .icon-directions_car:before {
  content: "\e531";
}
:global .icon-directions_bus:before {
  content: "\e530";
}
:global .icon-train:before {
  content: "\e570";
}
:global .icon-directions_transit:before {
  content: "\e535";
}
:global .icon-tram:before {
  content: "\e571";
}
:global .icon-airport_shuttle:before {
  content: "\eb3c";
}
:global .icon-local_shipping:before {
  content: "\e558";
}
:global .icon-directions_railway:before {
  content: "\e534";
}
:global .icon-directions_boat:before {
  content: "\e532";
}
:global .icon-flight:before {
  content: "\e539";
}
:global .icon-airplanemode_inactive:before {
  content: "\e194";
}
:global .icon-vpn_key:before {
  content: "\e0da";
}
:global .icon-local_gas_station:before {
  content: "\e546";
}
:global .icon-print:before {
  content: "\e8ad";
}
:global .icon-laptop_mac:before {
  content: "\e320";
}
:global .icon-desktop_mac:before {
  content: "\e30b";
}
:global .icon-remove_shopping_cart:before {
  content: "\e92f";
}
:global .icon-arrow_upward:before {
  content: "\e5d8";
}
:global .icon-arrow_downward:before {
  content: "\e5db";
}
:global .icon-arrow_back:before {
  content: "\e5c4";
}
:global .icon-arrow_forward:before {
  content: "\e5c8";
}
:global .icon-call_received:before {
  content: "\e0b5";
}
:global .icon-call_made:before {
  content: "\e0b2";
}
:global .icon-arrow_drop_down:before {
  content: "\e5c5";
}
:global .icon-arrow_drop_up:before {
  content: "\e5c7";
}
:global .icon-keyboard_arrow_up:before {
  content: "\e316";
}
:global .icon-keyboard_arrow_down:before {
  content: "\e313";
}
:global .icon-keyboard_arrow_left:before {
  content: "\e314";
}
:global .icon-keyboard_arrow_right:before {
  content: "\e315";
}
:global .icon-swap_horiz:before {
  content: "\e8d4";
}
:global .icon-swap_vert:before {
  content: "\e8d5";
}
:global .icon-swap_calls:before {
  content: "\e0d7";
}
:global .icon-zoom_out_map:before {
  content: "\e56b";
}
:global .icon-replay:before {
  content: "\e042";
}
:global .icon-refresh:before {
  content: "\e5d5";
}
:global .icon-cached:before {
  content: "\e86a";
}
:global .icon-add:before {
  content: "\e145";
}
:global .icon-close:before {
  content: "\e5cd";
}
:global .icon-check:before {
  content: "\e5ca";
}
:global .icon-done_all:before {
  content: "\e877";
}
:global .icon-info_outline:before {
  content: "\e88f";
}
:global .icon-info:before {
  content: "\e88e";
}
:global .icon-help_outline:before {
  content: "\e8fd";
}
:global .icon-help:before {
  content: "\e887";
}
:global .icon-error:before {
  content: "\e000";
}
:global .icon-error_outline:before {
  content: "\e001";
}
:global .icon-radio_button_unchecked:before {
  content: "\e836";
}
:global .icon-radio_button_checked:before {
  content: "\e837";
}
:global .icon-lens:before {
  content: "\e3fa";
}
:global .icon-add_circle:before {
  content: "\e147";
}
:global .icon-check_circle:before {
  content: "\e86c";
}
:global .icon-cancel:before {
  content: "\e5c9";
}
:global .icon-check_box_outline_blank:before {
  content: "\e835";
}
:global .icon-check_box:before {
  content: "\e834";
}
:global .icon-add_box:before {
  content: "\e146";
}
:global .icon-alarm_off:before {
  content: "\e857";
}
:global .icon-update:before {
  content: "\e932";
}
:global .icon-restore:before {
  content: "\e8b3";
}
:global .icon-alarm_on:before {
  content: "\e858";
}
:global .icon-alarm_add:before {
  content: "\e856";
}
:global .icon-settings_backup_restore:before {
  content: "\e8ba";
}
:global .icon-zoom_in:before {
  content: "\e8ff";
}
:global .icon-zoom_out:before {
  content: "\e933";
}
:global .icon-photo_camera:before {
  content: "\e412";
}
:global .icon-add_a_photo:before {
  content: "\e439";
}
:global .icon-chat_bubble_outline:before {
  content: "\e0cb";
}
:global .icon-chat_bubble:before {
  content: "\e0ca";
}
:global .icon-chat:before {
  content: "\e0b7";
}
:global .icon-question_answer:before {
  content: "\e8af";
}
:global .icon-star_border:before {
  content: "\e83a";
}
:global .icon-star_half:before {
  content: "\e839";
}
:global .icon-star:before {
  content: "\e838";
}
:global .icon-stars:before {
  content: "\e8d0";
}
:global .icon-turned_in_not:before {
  content: "\e8e7";
}
:global .icon-turned_in:before {
  content: "\e8e6";
}
:global .icon-favorite_border:before {
  content: "\e87e";
}
:global .icon-favorite:before {
  content: "\e87d";
}
:global .icon-share:before {
  content: "\e80d";
}
:global .icon-link:before {
  content: "\e157";
}
:global .icon-today:before {
  content: "\e8df";
}
:global .icon-event_note:before {
  content: "\e616";
}
:global .icon-date_range:before {
  content: "\e92c";
}
:global .icon-event_available:before {
  content: "\e614";
}
:global .icon-event_busy:before {
  content: "\e615";
}
:global .icon-brightness_high:before {
  content: "\e1ac";
}
:global .icon-attach_money:before {
  content: "\e227";
}
:global .icon-money_off:before {
  content: "\e25c";
}
:global .icon-assignment:before {
  content: "\e85d";
}
:global .icon-assignment_late:before {
  content: "\e85f";
}
:global .icon-assignment_turned_in:before {
  content: "\e862";
}
:global .icon-cloud_queue:before {
  content: "\e2c2";
}
:global .icon-cloud_off:before {
  content: "\e2c1";
}
:global .icon-filter_drama:before {
  content: "\e3dd";
}
:global .icon-wb_cloudy:before {
  content: "\e42d";
}
:global .icon-cloud_done:before {
  content: "\e2bf";
}
:global .icon-local_offer:before {
  content: "\e54e";
}
:global .icon-attach_file:before {
  content: "\e226";
}
:global .icon-dashboard:before {
  content: "\e871";
}
:global .icon-pie_chart:before {
  content: "\e6c4";
}
:global .icon-bubble_chart:before {
  content: "\e6dd";
}
:global .icon-data_usage:before {
  content: "\e1af";
}
:global .icon-donut_large:before {
  content: "\e92b";
}
:global .icon-trending_up:before {
  content: "\e8e5";
}
:global .icon-trending_down:before {
  content: "\e8e3";
}
:global .icon-timeline:before {
  content: "\e931";
}
:global .icon-equalizer:before {
  content: "\e01d";
}
:global .icon-poll:before {
  content: "\e801";
}
:global .icon-functions:before {
  content: "\e24a";
}
:global .icon-markunread:before {
  content: "\e159";
}
:global .icon-delete:before {
  content: "\e872";
}
:global .icon-phone:before {
  content: "\e93b";
}
:global .icon-exit_to_app:before {
  content: "\e879";
}
:global .icon-person:before {
  content: "\e7fd";
}
:global .icon-person_add:before {
  content: "\e7fe";
}
:global .icon-group_add:before {
  content: "\e7f0";
}
:global .icon-people:before {
  content: "\e7fb";
}
:global .icon-person_outline:before {
  content: "\e7ff";
}
:global .icon-people_outline:before {
  content: "\e7fc";
}
:global .icon-terrain:before {
  content: "\e564";
}
:global .icon-photo:before {
  content: "\e410";
}
:global .icon-location_city:before {
  content: "\e7f1";
}
:global .icon-room:before {
  content: "\e8b4";
}
:global .icon-location_off:before {
  content: "\e0c7";
}
:global .icon-person_pin_circle:before {
  content: "\e56a";
}
:global .icon-local_drink:before {
  content: "\e544";
}
:global .icon-local_florist:before {
  content: "\e545";
}
:global .icon-local_laundry_service:before {
  content: "\e54a";
}
:global .icon-do_not_disturb_alt:before {
  content: "\e611";
}
:global .icon-pan_tool:before {
  content: "\e92e";
}
:global .icon-visibility:before {
  content: "\e8f4";
}
:global .icon-add_alert:before {
  content: "\e003";
}
:global .icon-notifications:before {
  content: "\e7f4";
}
:global .icon-notifications_active:before {
  content: "\e7f7";
}
:global .icon-notifications_off:before {
  content: "\e7f6";
}
:global .icon-pets:before {
  content: "\e930";
}
:global .icon-person_pin:before {
  content: "\e55a";
}
:global .icon-send:before {
  content: "\e163";
}
:global .icon-sentiment_very_dissatisfied:before {
  content: "\e814";
}
:global .icon-mood_bad:before {
  content: "\e7f3";
}
:global .icon-sentiment_dissatisfied:before {
  content: "\e811";
}
:global .icon-sentiment_neutral:before {
  content: "\e812";
}
:global .icon-sentiment_satisfied:before {
  content: "\e813";
}
:global .icon-sentiment_very_satisfied:before {
  content: "\e815";
}
:global .icon-face:before {
  content: "\e87c";
}
:global .icon-verified_user:before {
  content: "\e8e8";
}
:global .icon-beenhere:before {
  content: "\e52d";
}
:global .icon-thumb_down:before {
  content: "\e8db";
}
:global .icon-thumb_up:before {
  content: "\e8dc";
}
:global .icon-wifi:before {
  content: "\e63e";
}
:global .icon-volume_mute:before {
  content: "\e04e";
}
:global .icon-volume_down:before {
  content: "\e04d";
}
:global .icon-volume_up:before {
  content: "\e050";
}
:global .icon-volume_off:before {
  content: "\e04f";
}
:global .icon-explore:before {
  content: "\e87a";
}
:global .icon-flag:before {
  content: "\e153";
}
:global .icon-local_bar:before {
  content: "\e540";
}
:global .icon-audiotrack:before {
  content: "\e3a1";
}
:global .icon-beach_access:before {
  content: "\eb3e";
}
:global .icon-golf_course:before {
  content: "\eb45";
}
:global .icon-free_breakfast:before {
  content: "\eb44";
}
:global .icon-goat:before {
  content: "\e92d";
}
:global .icon-work:before {
  content: "\e8f9";
}
:global .icon-school:before {
  content: "\e80c";
}
:global .icon-restaurant:before {
  content: "\e56c";
}
:global .icon-ac_unit:before {
  content: "\eb3b";
}
:global .icon-control_point:before {
  content: "\e3ba";
}
:global .icon-remove_circle:before {
  content: "\e15c";
}
:global .icon-remove:before {
  content: "\e15b";
}
:global .icon-remove_circle_outline:before {
  content: "\e15d";
}
:global .icon-format_quote:before {
  content: "\e244";
}
:global .icon-nature:before {
  content: "\e406";
}
:global .icon-nature_people:before {
  content: "\e407";
}
:global .icon-security:before {
  content: "\e32a";
}
:global .icon-play_arrow:before {
  content: "\e037";
}
:global .icon-pause:before {
  content: "\e034";
}
:global .icon-fast_forward:before {
  content: "\e01f";
}
:global .icon-fast_rewind:before {
  content: "\e020";
}
:global .icon-skip_next:before {
  content: "\e044";
}
:global .icon-skip_previous:before {
  content: "\e045";
}
:global .icon-local_play:before {
  content: "\e553";
}
:global .icon-get_app:before {
  content: "\e884";
}
:global .icon-file_upload:before {
  content: "\e2c6";
}
:global .icon-notifications2:before {
  content: "\e7f8";
}
:global .icon-notifications_active2:before {
  content: "\e7f9";
}
:global .icon-notifications_off2:before {
  content: "\e7fa";
}
:global .icon-power:before {
  content: "\e63c";
}
:global .icon-lightbulb_outline:before {
  content: "\e93d";
}
:global .icon-wb_incandescent:before {
  content: "\e42e";
}
:global .icon-highlight:before {
  content: "\e25f";
}
:global .icon-wb_sunny:before {
  content: "\e430";
}
:global .icon-flare:before {
  content: "\e3e4";
}
:global .icon-visibility_off:before {
  content: "\e8f5";
}
:global .icon-smoke_free:before {
  content: "\eb4a";
}
:global .icon-smoking_rooms:before {
  content: "\eb4b";
}
:global .icon-collections_bookmark:before {
  content: "\e431";
}
:global .icon-drafts:before {
  content: "\e151";
}
:global .icon-all_inclusive:before {
  content: "\eb3d";
}
:global .icon-cake:before {
  content: "\e7e9";
}
:global .icon-photo_library:before {
  content: "\e413";
}
:global .icon-event_seat:before {
  content: "\e93e";
}
:global .icon-weekend:before {
  content: "\e16b";
}
:global .icon-watch:before {
  content: "\e334";
}
:global .icon-fitness_center:before {
  content: "\eb43";
}
:global .icon-child_friendly:before {
  content: "\eb42";
}
:global .icon-headset:before {
  content: "\e310";
}
:global .icon-headset_mic:before {
  content: "\e311";
}
:global .icon-healing:before {
  content: "\e3f3";
}
:global .icon-child_care:before {
  content: "\eb41";
}
:global .icon-alarm:before {
  content: "\e855";
}
:global .icon-watch_later:before {
  content: "\e93f";
}
:global .icon-personal_video:before {
  content: "\e63b";
}
:global .icon-phone_android:before {
  content: "\e324";
}
:global .icon-tablet_android:before {
  content: "\e330";
}
:global .icon-phone_iphone:before {
  content: "\e325";
}
:global .icon-tablet_mac:before {
  content: "\e331";
}
:global .icon-stay_primary_landscape:before {
  content: "\e0d5";
}
:global .icon-stay_primary_portrait:before {
  content: "\e0d6";
}
:global .icon-laptop_chromebook:before {
  content: "\e31f";
}
:global .icon-laptop:before {
  content: "\e31e";
}
:global .icon-dvr:before {
  content: "\e1b2";
}
:global .icon-screen_rotation:before {
  content: "\e1c1";
}
:global .icon-keyboard:before {
  content: "\e312";
}
:global .icon-vpn_lock:before {
  content: "\e62f";
}
:global .icon-radio:before {
  content: "\e03e";
}
:global .icon-pregnant_woman:before {
  content: "\e940";
}
:global .icon-wc:before {
  content: "\e63d";
}
:global .icon-accessible:before {
  content: "\e941";
}
:global .icon-pool:before {
  content: "\eb48";
}
:global .icon-rowing:before {
  content: "\e942";
}
:global .icon-transfer_within_a_station:before {
  content: "\e572";
}
:global .icon-rss_feed:before {
  content: "\e0e5";
}
:global .icon-crop_original:before {
  content: "\e3c4";
}
:global .icon-portrait:before {
  content: "\e416";
}
:global .icon-format_list_numbered:before {
  content: "\e242";
}
:global .icon-format_list_bulleted:before {
  content: "\e241";
}
:global .icon-list:before {
  content: "\e896";
}
:global .icon-view_list:before {
  content: "\e8ef";
}
:global .icon-voice_chat:before {
  content: "\e62e";
}
:global .icon-videocam:before {
  content: "\e04b";
}
:global .icon-videocam_off:before {
  content: "\e04c";
}
:global .icon-arrow_drop_down_circle:before {
  content: "\e5c6";
}
:global .icon-battery_alert:before {
  content: "\e19c";
}
:global .icon-battery_charging_full:before {
  content: "\e1a3";
}
:global .icon-battery_std:before {
  content: "\e1a5";
}
:global .icon-battery_unknown:before {
  content: "\e1a6";
}
:global .icon-extension:before {
  content: "\e87b";
}
:global .icon-sms_failed:before {
  content: "\e626";
}
:global .icon-message:before {
  content: "\e0c9";
}
:global .icon-mms:before {
  content: "\e618";
}
:global .icon-rate_review:before {
  content: "\e560";
}
:global .icon-filter_none:before {
  content: "\e3e0";
}
:global .icon-fingerprint:before {
  content: "\e943";
}
:global .icon-flash_off:before {
  content: "\e3e6";
}
:global .icon-flight_land:before {
  content: "\e944";
}
:global .icon-flight_takeoff:before {
  content: "\e945";
}
:global .icon-folder:before {
  content: "\e2c7";
}
:global .icon-folder_open:before {
  content: "\e2c8";
}
:global .icon-folder_shared:before {
  content: "\e2c9";
}
:global .icon-folder_special:before {
  content: "\e617";
}
:global .icon-gavel:before {
  content: "\e946";
}
:global .icon-gesture:before {
  content: "\e155";
}
:global .icon-grid_off:before {
  content: "\e3eb";
}
:global .icon-grid_on:before {
  content: "\e3ec";
}
:global .icon-apps:before {
  content: "\e5c3";
}
:global .icon-highlight_off:before {
  content: "\e888";
}
:global .icon-hourglass_empty:before {
  content: "\e88b";
}
:global .icon-hourglass_full:before {
  content: "\e88c";
}
:global .icon-import_contacts:before {
  content: "\e0e0";
}
:global .icon-inbox:before {
  content: "\e156";
}
:global .icon-announcement:before {
  content: "\e85a";
}
:global .icon-hot_tub:before {
  content: "\eb46";
}
:global .icon-local_hotel:before {
  content: "\e549";
}
:global .icon-indeterminate_check_box:before {
  content: "\e947";
}
:global .icon-insert_drive_file:before {
  content: "\e24d";
}
:global .icon-scanner:before {
  content: "\e329";
}
:global .icon-restore_page:before {
  content: "\e948";
}
:global .icon-kitchen:before {
  content: "\eb47";
}
:global .icon-open_in_new:before {
  content: "\e89e";
}
:global .icon-loyalty:before {
  content: "\e89a";
}
:global .icon-theaters:before {
  content: "\e8da";
}
:global .icon-local_library:before {
  content: "\e54b";
}
:global .icon-live_help:before {
  content: "\e0c6";
}
:global .icon-sync:before {
  content: "\e627";
}
:global .icon-mail_outline:before {
  content: "\e0e1";
}
:global .icon-map:before {
  content: "\e55b";
}
:global .icon-markunread_mailbox:before {
  content: "\e89b";
}
:global .icon-code:before {
  content: "\e86f";
}
:global .icon-colorize:before {
  content: "\e3b8";
}
:global .icon-speaker_group:before {
  content: "\e32e";
}
:global .icon-web_asset:before {
  content: "\e069";
}
:global .icon-crop_free:before {
  content: "\e3c2";
}
:global .icon-monetization_on:before {
  content: "\e263";
}
:global .icon-keyboard_voice:before {
  content: "\e31d";
}
:global .icon-mic_off:before {
  content: "\e02b";
}
:global .icon-mic_none:before {
  content: "\e02a";
}
:global .icon-next_week:before {
  content: "\e16a";
}
:global .icon-pageview:before {
  content: "\e8a0";
}
:global .icon-shopping_basket:before {
  content: "\e8cb";
}
:global .icon-sort:before {
  content: "\e164";
}
:global .icon-playlist_add:before {
  content: "\e03b";
}
:global .icon-playlist_add_check:before {
  content: "\e065";
}
:global .icon-toc:before {
  content: "\e8de";
}
:global .icon-view_headline:before {
  content: "\e8ee";
}
:global .icon-zoom_out_map2:before {
  content: "\e56d";
}
:global .icon-ring_volume:before {
  content: "\e0d1";
}
:global .icon-local_parking:before {
  content: "\e54f";
}
:global .icon-web:before {
  content: "\e051";
}
:global .icon-edit_location:before {
  content: "\e568";
}
:global .icon-timer:before {
  content: "\e425";
}
:global .icon-timer_off:before {
  content: "\e426";
}
:global .icon-slow_motion_video:before {
  content: "\e068";
}
:global .icon-recent_actors:before {
  content: "\e03f";
}
:global .icon-ev_station:before {
  content: "\e56e";
}
:global .icon-near_me:before {
  content: "\e569";
}
:global .icon-new_releases:before {
  content: "\e031";
}
:global .icon-network_check:before {
  content: "\e640";
}
:global .icon-account_balance:before {
  content: "\e84f";
}
:global .icon-perm_contact_calendar:before {
  content: "\e8a3";
}
:global .icon-room_service:before {
  content: "\eb49";
}
:global .icon-library_books:before {
  content: "\e02f";
}
:global .icon-shop:before {
  content: "\e8c9";
}
:global .icon-shop_two:before {
  content: "\e8ca";
}
:global .icon-priority_high:before {
  content: "\e645";
}
:global .icon-publish:before {
  content: "\e255";
}
:global .icon-live_tv:before {
  content: "\e639";
}
:global .icon-local_hospital:before {
  content: "\e548";
}
:global .icon-do_not_disturb_off:before {
  content: "\e643";
}
:global .icon-spa:before {
  content: "\eb4c";
}
:global .icon-speaker:before {
  content: "\e32d";
}
:global .icon-timelapse:before {
  content: "\e422";
}
:global .icon-ondemand_video:before {
  content: "\e63a";
}
:global .icon-pin_drop:before {
  content: "\e55e";
}
:global .icon-filter_frames:before {
  content: "\e3de";
}
:global .icon-terrain2:before {
  content: "\e565";
}
:global .icon-view_week:before {
  content: "\e8f3";
}
:global .icon-view_quilt:before {
  content: "\e8f1";
}
:global .icon-view_compact:before {
  content: "\e42b";
}
:global .icon-view_module:before {
  content: "\e8f0";
}
:global .icon-view_comfy:before {
  content: "\e42a";
}
:global .icon-view_agenda:before {
  content: "\e8e9";
}
:global .icon-view_day:before {
  content: "\e8ed";
}
:global .icon-view_carousel:before {
  content: "\e8eb";
}
:global .icon-view_array:before {
  content: "\e8ea";
}
:global .icon-view_stream:before {
  content: "\e8f2";
}
:global .icon-view_column:before {
  content: "\e8ec";
}
:global .icon-layers:before {
  content: "\e53b";
}
:global .icon-layers_clear:before {
  content: "\e53c";
}
:global .icon-pause_circle_filled:before {
  content: "\e035";
}
:global .icon-pause_circle_outline:before {
  content: "\e036";
}
:global .icon-find_in_page:before {
  content: "\e880";
}
:global .icon-find_replace:before {
  content: "\e881";
}
:global .icon-supervisor_account:before {
  content: "\e8d3";
}
:global .icon-touch_app:before {
  content: "\e949";
}
:global .icon-thumbs_up_down:before {
  content: "\e8dd";
}
:global .icon-style:before {
  content: "\e41d";
}
:global .icon-traffic:before {
  content: "\e567";
}
:global .icon-spellcheck:before {
  content: "\e8ce";
}
:global .icon-reply:before {
  content: "\e15e";
}
:global .icon-reply_all:before {
  content: "\e15f";
}
:global .icon-text_fields:before {
  content: "\e262";
}
:global .icon-hearing:before {
  content: "\e023";
}
:global .icon-signal_cellular_no_sim:before {
  content: "\e1ce";
}
:global .icon-note_add:before {
  content: "\e89c";
}
:global .icon-brush:before {
  content: "\e3ae";
}
:global .icon-brightness_3:before {
  content: "\e3a8";
}
:global .icon-bluetooth:before {
  content: "\e1a7";
}
:global .icon-bluetooth_disabled:before {
  content: "\e1a9";
}
:global .icon-track_changes:before {
  content: "\e8e1";
}
