.typography {
    display: block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    padding: 6px 0;
}

.wrapper {
    display: block;
}

.column {
    width: 45%;
    display: inline-block;
}

.columnLeft {
    width: 45%;
    display: inline-block;
    margin-right: 10%;
}