.wrapper {
    background-color: #F3F5F6;
}

.standard {
    height: 8px;
}

.double {
    height: 16px;
}

.hr1 {
    background-color: #F3F5F6;
    padding: 7.5px 0 7.5px 0;
}

.hr2 {
    background-color: #F3F5F6;
    padding: 7.5px 16px 7.5px 68px;
}

.hr {
    border-bottom: 1px solid rgba(38,50,56,0.12);
}
