.wrapper {
  width: 4px;
  height: 100%;
  border-radius:4px;
  background-color: rgba(38,50,56,0.12);
  overflow: hidden;
  position: relative;
}

.inactiveWrapper {
  background-color: rgba(38,50,56,0.04);
}

.progress {
  width: 4px;
  border-radius:4px;
  height: 0%;
  bottom: 0;
  position: absolute;
}
