.outwrapper{
        display: inline-block;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive{

    background-color: rgba(96,125,139,0.12);
	height: 8px;
    width: 8px;
	border-radius: 100%;
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 0;
	cursor: pointer;
}

.darkInactive{
    background-color: rgba(255,255,255,0.12);
    height: 8px;
    width: 8px;
	border-radius: 100%;
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 0;
	cursor: pointer;
}

.dotActive{
	background-color: rgba(96,125,139,0.70);
    height: 8px;
    width: 8px;
	border-radius: 100%;
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 0;
	cursor: pointer;
}

.darkActive{
    background-color: rgba(255,255,255,0.70);
    height: 8px;
    width: 8px;
	border-radius: 100%;
	display: inline-block;
	margin: 0 12px 0 0;
	padding: 0;
	cursor: pointer;
}
